In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv("data_2018.csv")

In [4]:
dataset

,YEAR,STATEFIP,METRO,AGE,SEX,RACE,MARST,VETSTAT,CITIZEN,HISPAN,...,VOTEHOW,VOTEWHEN,VOREGHOW,VOTED,VOREG,VOSUPPWT,MARRSIMPLE,RACESIMPLE,HISPSIMPLE,EDUSIMPLE
0,2018,1,2,48,2,200,4,1,1,0,...,1,1,5,2,99,1957.3134,2,2,0,2
1,2018,1,2,53,2,200,4,1,1,0,...,1,1,3,2,99,1687.7836,2,2,0,3
2,2018,1,2,20,2,200,6,1,1,0,...,1,1,3,2,99,2678.8328,3,2,0,3
3,2018,1,2,61,1,200,1,2,1,0,...,1,1,5,2,99,1753.9945,1,2,0,3
4,2018,1,2,62,2,200,1,1,1,0,...,1,1,97,2,99,1778.5886,1,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72999,2018,56,4,69,1,100,1,2,1,0,...,1,1,97,2,99,256.5947,1,1,0,4
73000,2018,56,4,60,2,100,1,1,1,0,...,1,1,97,2,99,226.8820,1,1,0,5
73001,2018,56,4,30,1,100,6,1,1,0,...,1,1,97,2,99,313.3757,3,1,0,6
73002,2018,56,4,56,1,100,6,2,1,0,...,1,2,7,2,99,265.6089,3,1,0,4
73003,2018,56,4,72,2,100,5,1,1,0,...,1,1,1,2,99,277.1607,2,1,0,2