In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Connect with Postgres
engine = create_engine('postgresql://postgres:Constantina06*@localhost:5432/Civics_Political')

In [3]:
#Join all the tables created on the DB
df = pd.read_sql('select * from voter_info vi join voter_choice vc on vi.case_id = vc.case_id join candidate_info ci on vc.candidate_id = ci.candidate_id join ideological_leaning il on il.ideoId = vi.ideoId join district_info di on vi.zipcode = di.zipcode order by vi.case_id desc', engine.connect())

In [4]:
df

,case_id,year,weight,weight_cumulative,gender,birthyr,age,race,hispanic,citizen,...,zipcode,state,st,cong,cong_up,dist,dist_up,cd,cd_up,county_fips
0,420450972,2018,0.889778,0.486412,1,1979,39,6,1,1,...,31313,Georgia,GA,115,116,1,1,GA-01,GA-01,13179
1,420449977,2018,0.815931,0.446042,2,1984,34,1,2,1,...,80903,Colorado,CO,115,116,5,5,CO-05,CO-05,8041
2,420445919,2018,0.607522,0.332112,2,1997,21,1,2,1,...,46033,Indiana,IN,115,116,5,5,IN-05,IN-05,18057
3,420441704,2018,1.530062,0.836434,1,1982,36,1,2,1,...,55013,Minnesota,MN,115,116,8,8,MN-08,MN-08,27025
4,420441626,2018,1.457952,0.797014,2,1993,25,1,2,1,...,4416,Maine,ME,115,116,2,2,ME-02,ME-02,23009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,202120533,2018,0.466526,0.255034,2,1972,46,1,2,1,...,40229,Kentucky,KY,115,116,3,3,KY-03,KY-03,21111
59996,176818556,2018,5.104709,2.790574,2,1946,72,4,2,1,...,92637,California,CA,115,116,45,45,CA-45,CA-45,6059
59997,175996005,2018,1.491642,0.815431,2,1958,60,1,2,1,...,45662,Ohio,OH,115,116,2,2,OH-02,OH-02,39145
59998,170169205,2018,0.769724,0.420782,2,1971,47,1,2,1,...,37650,Tennessee,TN,115,116,1,1,TN-01,TN-01,47171
59999,123464282,2018,0.940543,0.514164,2,1964,54,5,1,1,...,21061,Maryland,MD,115,116,3,3,MD-03,MD-03,24003